<h1>User info</h1>
 <div>
  <%= image_tag @user.get_profile_image(100,100) %>
   <h3><%= @user.name %></h3>
  <% @books.each do |book| %>
   <h3><%= book.body %></h3>
  <% end %>
  <%= button_to "edit", edit_user_path(@user), method: :get, class: "btn btn-white-hover" %>
 </div>

 

