<div>
 <%= flash[:notice] %>
</div>
<div class="container text-start py-3">
 <div class="row">
  <div class="col-md-6 mx-auto">
   <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong> !!</h1>
   <p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p>
   <p>you can share and exchange your opinions , impressions , and emotions</p>
   <p>about various books!</p>

   <div class="d-flex flex-column align-items-center">
   <%= link_to "Log in", new_user_session_path, class:"btn btn-info mb-3", style:"width:450px;" %>
   <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success", style:"width:450px;" %>
   </div>
  </div>
 </div>
</div>
